body{
    
    background:linear-gradient(rgba(5,7,12,0.55),rgba(5,7,12,0.55)), url(/assets/img/img_kits/img3.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
    height: 650px
}

.titulo{
    font-size: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.subtitulo{
    font-size: 30px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.centrado{
    text-align: center;
}

.letra{
    color:rgb(0, 0, 0);
    font-size: 15px;
}

form input[type="text"]{
	width:300px;
	background-color:white;  
}

.gmail{
	width:330px;
	background-color:white;
    height: 40px;  
}

.edad{
	width:80px;
    height: 40px;
	background-color:white;
    
}

form label{
    font-size: 20px;
}
.cantidad{
	width:120px;
    height: 40px;
    background-color:white;	    
}

form input[type="number"]{
	width:80px;
	padding:3px 10px;
	border:1px solid white;
	border-radius:3px;
	background-color:white;
	margin:8px 0;
	display:inline-block;
}
.texto{
    width: 200px;
    background-color:white;
    height: 40px;
}

label{
    font-size: 18px;
    font-family: Century751 No2 BT;
    font-weight: bold; 
}
.cant{
	width: 80px;;
    height: 40px;
    background-color: white;	    
}

form input[type="submit"]{
    background-color: rgb(162, 106, 236);
    color: black;
    font-size: 20px;
}