.imgfondo1{
    
    background:linear-gradient(rgba(5,7,12,0.55),rgba(5,7,12,0.55)), url(/assets/img/img_fondo/contacto.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

body {
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
    height: 650px
}
