/*Fondo img*/
.testimonial-slider-bg {
    background-image: url(../assets/img/img_fondo/testimonial-slider-bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.testimonial-slider-bg {
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
    height: 650px
}

.testimonial-slider-bg:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #233F4D;
    OPACITY: .9
}

.testimonial-slider-bg .section-title {
    z-index: 99
}

.testimonial-slider-bg .section-title h2 {
    color: #fff
}
.testimonial-text {
    margin: 50px 0;
    background: #fff;
    padding: 20px;
    font-size: 14px;
    position: relative;
    margin-top: 20px
}

.testimonial-text i {
    font-size: 30px;
    display: inline-block;
    margin-bottom: 20px;
    color: #FFD857
}

.testimonial-text:after {
    position: absolute;
    content: "";
    bottom: -14px;
    left: 7px;
    background: #00B965;
    width: 33px;
    height: 33px;
    transform: rotate(41deg);
    display: none
}

.testimonial-bottom {
    position: relative;
    display: none
}

.testimonial-bottom img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: -16px
}

.single-testimonial-box {
    height: 350px
}

.active .testimonial-text {
    background: #00B965;
    color: #fff
}

.active .testimonial-text p {
    color: #fff
}

.active .testimonial-text:after {
    display: block
}

.active .testimonial-bottom {
    display: block
}

/*Menu*/
