@import url('http://fonts.googleapis.com/css?family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Ubuntu',sans-serif;
}
:root{
    --blue:#287bff;
    --white:#ffff;
    --grey:#f5f5f5;
    --black1:#222;
    --black2:#999;
}
body{
    min-height:100vh;
    overflow-x: hidden;
}

.container{
    position: relative;
    width: 100%;
}
.navigation{
    position:fixed;
    width: 600px;
    height: 100%;
    background: var(--blue);
    border: 0px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active{
    width: 80px;
}
.navigation ul {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered{
    background: var(--white);
}
.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a{
    color: var(--blue);
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigation ul li a .icon ion-icon{
    font-size: 1.75em;
}
.navigation ul li a.title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px !important;
    line-height: 60px !important;
    text-align: start;
    white-space: nowrap;
}
.title{
    padding: 15px;
    font-size: 15px;
}
.title1{
    padding: 0px -5px 0px 0px;
    font-size: 15px;
}

/* curva */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}
/*menu*/
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background:var(--white);
    transition: 0.5s;
}
.main.active{
    width: calc(100% - 80px);
    left: 0%;
}
.topbar{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.toggle{
    position: relative;
    top:0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}
.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label{
    position: relative;
    width: 100%;
}
.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    outline: none;
    border: 1px solid var(--black2);
}
.search label ion-icon{
    position: absolute;
    top: 10px;
    font-size: 1.2em;
}
.user{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.icono{
    text-decoration: none;
    color: var(--black2)
}


.cardBox{
    position: relative;
    width: 300px;
    padding: 20px 0px 0px 20%;
    display: grid;
    grid-template-columns: repeat(2,1fr); /*atributo para que dos elementos o mas esten en una sola linea */
    grid-gap: 30px;
}
.cardBox .card{
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    width: 300px;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
.cardBox .card .numbers{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--blue);
}
.cardBox .card .cardName{
    color: var(--blue);
    font-size: 1.5em;
    margin-top: 5px;
    padding: 15px;
    text-decoration: none;
}
.cardBox .card .iconBox{
    font-size: 3.5em;
    color: var(--black2);
}
.cardBox .card:hover{
    background: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBox{
    color: var(--white);
}
.formulario1{
    width: 50%;
    
}

.details{
    padding-top: 50%;
    position: relative;
    width: 100%;
    padding: 10px;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /* margin-top:10px; */
}
.details .recenOrders{
    position: relative;
    display: grid;
    min-height: 250px;
    background: var(--white);
    padding-bottom: 60px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}
.recenOrders1{
    position: relative;
    display: grid;
    min-height: 250px;
    background: var(--white);
    padding: 60px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}
.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2{
    
    font-weight: 600;
    color: var(--blue);
}
.btn{
    position: relative;
    width: 100px;
    padding:10px 0px;
    background: var(--blue);
    text-decoration: none;
    cursor: pointer;
    color:var(--white);
    border: none;
    border-radius:6px;
}
.btn:hover{
    color: var(--white);
}
.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td{
    font-weight:600;
}
.details .recenOrders table tr{
    color: var(--black1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.details .recenOrders table tr:last-child{
    border-bottom: none;
}
.details .recenOrders table tr:hover{
    background-color: var(--blue);
    color:var(--white)
}
.details .recenOrders table tr td{
    padding: 10px;
}
.details .recenOrders table tr td:last-child{
    text-align:end;
}
.details .recenOrders table tr td:nth-child(2){
    text-align:end;
}
.details .recenOrders table tr td:nth-child(3){
    text-align:center;
}
.color{
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.Activo{
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.Inactivo{
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.Datos{
    font-size: 30px;
    color: var(--blue);
}
.nombre{
    margin-left: 10px;
    color: var(--blue);
}
.nombre{
    font-family:"Arial";
    font-size: 20px;
}
#nombre{
    margin-left: 10px;
 }
 #Apellido{
    margin-left: 10px;
 }
#usuario {
    margin-left: 10px;
 }
#contraseña{
    padding: 20px;
    margin-left: 10px;
    height: 40px;
    width: 50%;
}

#rol{
    margin-left: 10px;
 }
 #etiqueta{
    font-size: 25px;
    color: var(--blue);
 }
 #disabledSelect{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
 }

 table {
    width: 100%;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even){background-color: #f2f2f2}
  th {
    background-color: #4CAF50;
    color: white;
  }
  @media 
  only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
      display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 50%; 
    }
    
    td:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;
    }
    
    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "Nombre"; }
    td:nth-of-type(2):before { content: "Apellido"; }
    td:nth-of-type(3):before { content: "Usuario"; }
    td:nth-of-type(4):before { content: "Contraseña"; }
    td:nth-of-type(5):before { content: "Rol"; }
    td:nth-of-type(6):before { content: "Estado"; }
  }

/* responsive*/
@media screen and (min-width: 280px) and (max-width:1300px) {
    
    .main{
        width: 100%;
        left:0;
    }
    .main.active{
        left: 300px;
    }
    .cardBox{
        grid-template-columns: repeat(2,2fr);
        position: relative;
        width: 300px;
        padding: 10px 0px 0px 10%;
        display: grid;
        grid-gap: 30px;
        
    }

    .Datos{
        grid-template-columns: repeat(1,1fr);
        width:100%;
    }
    .nombre{
        grid-template-columns: repeat(1,1fr);
    }
    .nombre{
        grid-template-columns: repeat(1,1fr);
    }
    .details{
        grid-template-columns: repeat(1,1fr);
    }
    .recenOrders{
        overflow-x: auto;
        position: relative;
        display: grid;
        min-height: 250px;
        background: var(--white);
        
        box-shadow: 0 7px 25px rgba(0,0,0,0.08);
        border-radius: 20px;
    }
    .formulario1{
        width: 100%;
        height: 100%;
        
    }
    .table{
        white-space: nowrap;
    }
    .cardBox{
        grid-template-columns: repeat(1,4fr);
    }
    .cardHeader h2 {
        font-size: 20px;
    }
    .user{
        min-width: 40px;
    }
    
    
    .toggle{
        z-index: 10001;
    }
    .main.active .toggle{
        color: #fff;
    }
    .details{
        padding-top: 50%;
        position: relative;
        width: 100%;
        padding: 10px;
        grid-template-columns: 2fr 1fr;
        grid-gap: 30px;
        /*margin-top:10px;*/
    }
    #nombre{
        width: 90%;
    }
    #Apellido{
        width: 90%;
    }
    #usuario {
    width: 90%;
    }
    #contraseña{
        width: 90%;
    }
    #rol{
        width: 90%;
    }
    
    .main{
        width: 100%;
        left:0;
    }
    .main.active{
        left: 300px;
    }
    .navigation{
        width: 100px;
        left: -500px;
    }
    .navigation.active{

        width: 300px;
        left:0;
    }
    .navigation{
        width: 500px;
        left: -100; 
        z-index: 1000;
        
    }
    .navigation.active{
        width: 100%;
        left: 0;
    }
}