*{box-sizing:border-box;}
div#general{
    width: 1300px;
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.imagen{
	background-image:url(/assets/img/img_formulario/Viveres.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
}

body{
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
    height: 650px
}

.formulario{
	position: relative;
	width:770px;
	padding:16px;
	border-radius:20px;
	margin-left: 270px;
	background-color:rgb(213, 253, 180);
}

form label{
	width:180px;
	font-weight:bold;
	display:inline-block;
	color:#000;
	
}

form input[type="text"],
form input[type="number"]{
	width:300px;
	padding:3px 10px;
	border:1px solid #98df9c;
	border-radius:3px;
	background-color:#98df9c;
	margin:8px 0;
	display:inline-block;
}

.boton{
	width:100px;
	padding:2px 16px;
	margin-top:32px;
	margin-left: 600px;
	color:#fff;
}
.boton:hover{
	cursor:pointer;
}
.boton1{
	width:100px;
	padding:2px 16px;
	margin-top:-90px;
	margin-left: 10px;
	color:#fff;
}
.boton1:hover{
	cursor:pointer;
}

.tamaño_kit{
    font-size: 20;
    text-align: center;
	color:#000;
}
form input[type="number"]{
	width:105px;
	padding:3px 10px;
	border:1px solid #98df9c;
	border-radius:3px;
	background-color:#98df9c;
	margin:8px 0;
	display:inline-block;
}

form input[type="checkbox"]{
	width:70px;
    height: 20px;
	padding:3px 10px;
	border:1px solid #98df9c;
	border-radius:3px;
	background-color:#98df9c;
	margin:8px 0;
	display:inline-block;
}

/*
body{
    
    background-image:url(/assets/img/img_formulario/Viveres.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
	background-size: 80%;  
}
*/

h2{
	font-size: 70px;
	color: #000;
	text-align: center;
}

.tamaño_kit_1{
    font-size: 20px;
    text-align: center;
	color:#000;
}

.cantidad[type="text"]{
	width:180px;
	height: 30px;
	padding:3px 10px;
	border:1px solid #98df9c;
	border-radius:3px;
	background-color:#98df9c;
	margin:8px 0;
	display:inline-block;
}

.gmail{
	width:300px;
	height: 30px;
	padding:3px 10px;
	border:1px solid #98df9c;
	border-radius:3px;
	background-color:#98df9c;
	margin:8px 0;
	display:inline-block;
}





