.inicio-slider-bg {
  background-image:url("../../../assets/img/img_inicio/solidaridad.jpg");
}

.inicio-slider-bg {
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
  height: 650px;
}

.inicio-slider-bg:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #233F4D;
  OPACITY: .9;
}

.inicio-slider-bg .section-title {
  z-index: 99
}

.inicio-slider-bg .section-title h2 {
  color: #fff;
}



.inicio-content{
  display: flex;
  align-items: center;
}

.hijo {  
  padding: 25px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 25px;
  z-index: 1;    
}

.card-body{
  height: 220px;
}

.card-text{
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .hijo {  
    font-size: 15px;    
  }

  .card-text{
    font-size: 15px;
  }
}


@media only screen and (max-width: 900px) {


  .card-text{
    font-size: 11px;
  }
}