.centrado{
    color:white; 
    text-align:center;
    line-height: 100px;
    width: 390px;
    font-size: 30PX;
}
.centrado1{
    color:white; 
    text-align:center;
    line-height: 100px;
    width: 390px;
    font-size: 30PX;
}
.centrado2{
    color:white; 
    text-align:center;
    line-height: 100px;
    width: 390px;
    font-size: 30PX;
}
.centrado3{
    color:white; 
    text-align:center;
    line-height: 100px;
    width: 390px;
    font-size: 30px;
}

.centar img{
    height:400px;
    position:absolute;
}


h2{
    color:rgb(247, 247, 247);
    text-align: center;
    font-size: 50px;
    font-family: monospace;
    
}

.general{
    background: linear-gradient(rgba(5,7,12,0.55),rgba(5,7,12,0.55)),url(../assets/img/img_fondo/people-stacking-hands-together-park.jpg);
    background-position:center;
    background-size:cover;
    
    height: 30rem;
    
    
}
.contenedor1{
    width: 100%;
    display: flex;
    size: 20px;;
    margin: 0 auto;
    position: 100px;;
    
    
}


.card{
    display:flex;
    align-items:baseline;
    width: 20rem;
    height: 10rem;
    border-radius: 2rem; 
    overflow: hidden;
    margin: 2rem;
    font-size: 10rem;
    color: aliceblue;
    
}

.card:hover{
    transform: translateY(-10%);
    
}

.contenedor1 p{
    align-items: baseline;
    right: 10%;
    font-size: 17px;
    vertical-align: bottom;
}
    


@media (max-width:500px){
    .general{
        height: 70rem;
    }
    .contenedor1 {
        display: block;
        text-align: center;
        height: 200px;
        width: 200px;;
        
    } 
    .card{
        width: -50%;
        height: 10%;
        margin: 1rem auto;
        font-size: 2rem;
    }
} 


