h2 {
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: monospace;
}

p {
    text-align: center;
    font-size: 13px;
}

<<<<<<< HEAD
.contenedor {
    background: url(/assets/img/img_fondo/testimonial-slider-bg.jpg) no-repeat center center fixed;
    background-size: cover;
=======
.contenedor{
    width: 100%;
    padding: 6%;
    margin:auto;
    background: linear-gradient(rgba(5,7,12,0.55),rgba(5,7,12,0.55)),url(../assets/img/img_fondo/testimonial-slider-bg.jpg);
    background-repeat: no-repeat;
    background-size: 2000px;
    background-attachment: fixed;
>>>>>>> 991c99f4b4b3495ca0f12bc175cdbb6b3c8a409f
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px;
    
}

.caja {
    margin: 20px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.3);
    transition: 1s;
    background-color: aliceblue;
    border-radius: 15px;
    color:black;
    border-color: black;
}

.caja img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.caja:hover {
    transform: scale(1.1);
    z-index: 3;
}

.title {
    text-align: center;
    color: black;
    font-size: 25px;
    padding: 20px 0;
}



@media screen and (max-width: 767px) {
    .contenedor {
        padding:  0 auto;
        margin-top: 30px;
    }
    
    .caja {
        width: 100%;
        height: auto;
    }
    
  
    
    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .caja {
        width: calc(50% - 40px);
    }
    .contenedor{
        margin-top: 30px;
    }
}

@media screen and (min-width: 1025px) {
    .caja {
        width: calc(33.33% - 40px);
    }
}
