.Nose{
    display: inline-flex;
    width: 100%;
}
.Imgfondo {
    background: url(../assets/img/img_sostenibilidad/manoscopy.png);
    height: 490px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.Encabezado{
    padding: 35px;
    background-color: #163c50;
    width: 100%;
    border-radius: 15px;
    opacity: 88%;
    
}
.line{
    background-color: #072f3d;
    width: 100%;
    height: 280px;
}
.tit0{
    background: linear-gradient(
                #98eceb,
                #003d44,
                #efefef
                );
    color: transparent;
    -webkit-background-clip: text;
}
.tit0 h1{
    
    text-align: center;
    font-size: 400%;
    height: 120px;
    padding: 15px;

}
.Parra{
    text-align: center;
}
.Parra h1{
    font-size: 160%;
    color: rgb(96, 117, 113);
}
.all{
    background-color: #072f3d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
}
.card {
    margin: 20px;
    width: 250px;
    height: 200px;
    border-radius: 15px;
    background-size: cover;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Conten {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, .2);
    opacity: 0;
    transition: .5s;
    border-radius: 15px;

}
.Conten h3 {
    color: rgb(42, 11, 100);
    
}
.card:hover .Conten{
    opacity: 1;
}